/** @format */

.search-bar {
  align-items: center;
  margin-left: 20px;
  width: 90%;
  h3 {
    word-wrap: n;
  }
  input {
    height: 34px;
    margin-left: 15px;
    background-color: rgb(205, 200, 189);
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 18px;
    font-family: 'JosefinSans' !important;
    width: 100%;
  }
}
